<div class="body-container">
    
    <app-header class="main-header"></app-header>
    <!--<app-sidebar class="main-nav"></app-sidebar>-->
    
    <main class="main" style="top: 0">
        <router-outlet></router-outlet>
    </main>
    
    <app-footer class="main-footer"></app-footer>
    
</div>