/*body {
    color: rgba(4,57,94,1);
    background: rgba(4,57,94,.1);
    padding: 0 1em 1em;
    font-family: 'Open Sans', sans-serif;
}
h1{
    text-align:center;
}*/
//input {
input[name="radio-a"]{
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.accordion-wrapper {
    //border-radius: 8px;
    overflow: hidden;
    //box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
    //width: 600px;
    width: 100%;
    //margin:0 auto;
    //margin:0 16px;
}
.accordion {
    width: 100%;
    color: white;
    overflow: hidden;
    margin-bottom: 16px;
}
.accordion:last-child{
    margin-bottom: 0;
}
.accordion-label {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 8px 16px;
    //background: rgba(4,57,94,.8);
    font-weight: bold;
    cursor: pointer;
    font-size: 12px;

    color: #005470;
    background-color: #f6f7f7;
    background-image: -webkit-linear-gradient(top, #f9f9f9, #e3e4e6);
    border: 1px solid #99bce8;
}
.accordion-label:hover {
    //background: rgba(4,57,94,1);
    //background: #005470;
    background: #7da7b6; //5c91a4;
}
.accordion-label::after {
    content: "\276F";
    width: 16px;
    height: 16px;
    text-align: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.accordion-content {
    background: white;
    border-left: 1px solid #99bce8;
    border-right: 1px solid #99bce8;
    color: rgba(0,0,0);
    max-height: 0;
    padding: 0 16px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.accordion-content p{
    margin: 0;
    color: rgba(4,57,94,.7);
    font-size: 18px;
}

//input:checked + .accordion-label {
    //background: rgba(4,57,94,1);
    //background: #005470;
//}

input:checked + .accordion-label::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

input:checked ~ .accordion-content {
    max-height: 100vh;
    padding: 16px;
}

a {
    color: #0568C3; 
    cursor: pointer;
}

a:link {
    color: #0568C3; 
}

a:visited {
    //background-color: orange;
    color: orange;
}

a:hover {
    //background-color: lightgreen;
    color: #0568C3; 
    cursor: pointer;
}

/*a:active {
    background-color: hotpink;
} */

.tabs {
    list-style: none;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
}

.nav-link.active {
    background-color: #005470 !important;
    border-color: #7db4d8 #7db4d8 !important;
    color: #fff!important;
}

.bodycenter {
    height: calc(100vh - 275px);
}

.pane-left {
    background-color: #fff;
    display: grid; 
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr)); 
    overflow-y: auto;
}
.pane-right {
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    overflow: auto;
    //border-top: 1px solid #99bce8;
}